:root{
    --cor-base: #333333;
    --cor-fundo-img: #0c7eb3;
    --cor-borda-img: #d5dbd5;
    --cor-rodape: #777;
}
body {
    color: var(--cor-base);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}
h2{
    border-bottom: 2px groove var(--cor-base);
    margin-top: 30px;  
}
figure{
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img);
    text-align: center;
    padding: 15px;
    margin: 30px;   
}
figcaption{
    font-style: italic;
    margin-top: 10px;
}

p{
    padding: 0 45px;
    text-indent: 15px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.rodape{
    color: var(--cor-rodape);
    margin: 30px 0;
    padding: 30px 0;
}

.rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    margin: 0 0 10px 10px;
    float: right;
}

.container {
    margin: 0 auto;
    width: 90%;
}

p: first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}