:root{
    --cor-primaria: #2a2633;
    --cor-secundaria: #675c80;
    --cor-destaque: #826308;
    --cor-fundo-destaque: #4515c9;
}

h1{
    color: var(--cor-primaria);
}

h2{
    color: var(--cor-secundaria);
}

p{
    color: var(--cor-destaque);
    background-color: var(--cor-fundo-destaque);
}